				<!-- Section -->
					<section>
						<header>
							<h2>Let's talk</h2>
						</header>
						<div class="content">
							<p><strong>Get in touch.</strong> We love to hear from  you.</p>
							<form>
								<div class="fields">
									<div class="field half">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="field half">
										<input type="email" name="email" id="email" placeholder="Email" />
									</div>
									<div class="field">
										<textarea name="message" id="message" placeholder="Message" rows="7"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" class="button primary" /></li>
								</ul>
							</form>
						</div>
						<footer>
							<ul class="items">
								<li>
									<h3>Email</h3>
									<span>hey [at] cheeseflow [dot] com</span>
								</li>
								<li>
									<h3>Address</h3>
									<span>212, Block A2, iMakerbase<br />
									Hangcheng Innovation Venture Park, Hangcheng Road<br />
									Bao’an District, Shenzhen, Guangdong, China</span>
								</li>
								<li>
									<h3>Elsewhere</h3>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="https://www.linkedin.com/company/cheeseflow/" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
									</ul>
								</li>
							</ul>
						</footer>
					</section>

		<!-- Copyright -->
					<div class="copyright">&copy; 2020 CheeseFlow. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</div>

			</div>

		<!-- Scripts -->
			<script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
			<script src="{{ "/assets/js/jquery.scrolly.min.js" | relative_url }}"></script>
			<script src="{{ "/assets/js/browser.min.js | relative_url }}""></script>
			<script src="{{ "/assets/js/breakpoints.min.js" | relative_url }}"></script>
			<script src="{{ "/assets/js/util.js" | relative_url }}"></script>
			<script src="{{ "/assets/js/main.js" | relative_url }}"></script>
