<!DOCTYPE html>
<html lang=zh>

  {%- include head.html -%}

	<body class="is-preload">

    <main class="content" aria-label="Content">
      <div class="wrapper">
      
		<!-- Wrapper -->
			<div id="wrapper">
			
				<!-- Intro -->
					<section class="intro">
						<header>
							<span class="image site-logo"><img src="{{ site.url }}/images/cheeseflow-logo.svg" alt="CheeseFlow" /></span> 
							<h1 class="site-title">芝士溪谷 CheeseFlow</h1>
							<p>坐标深圳</p>
							<ul class="actions">
								<li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
							</ul>
						</header>
						<div class="content">
							<h2 class="hero-header">品牌形象<br />品牌个性<br />品牌影响</h2>
						</div>
					</section>

				<!-- Section -->
					<section id="first">
						<header>
							<h2>创意范儿</h2>
						</header>
						<div class="content">
							<section>
								<header>
									<h3>来自全球各地的人才</h3>
								</header>
								<div class="content">
									<p>我们是个坐标深圳的国际团队，专攻海外品牌策划</p>
							<span class="image tile"><img src="{{ site.url }}/images/team/Gio.jpg" alt="Giovanni" /></span> 
							<span class="image tile"><img src="{{ site.url }}/images/team/Jenxi.jpg" alt="Jenxi" /></span> 
							<span class="image tile"><img src="{{ site.url }}/images/team/Matt.jpg" alt="Matt" /></span> 
							<span class="image tile"><img src="{{ site.url }}/images/team/Diego.jpg" alt="Diego" /></span> 
							<span class="image tile"><img src="{{ site.url }}/images/team/Mark.jpg" alt="Mark" /></span> 
							<span class="image tile"><img src="{{ site.url }}/images/team/Momo.jpg" alt="Momo" /></span> 
							<span class="image tile"><img src="{{ site.url }}/images/team/Marco.jpg" alt="Marco" /></span> 
							<span class="image tile"><img src="{{ site.url }}/images/team/Marc.jpg" alt="Marc" /></span> 
							<span class="image tile"><img src="{{ site.url }}/images/team/Monica.jpg" alt="Monica" /></span> 	 
							<span class="image tile"><img src="{{ site.url }}/images/team/Tolya.jpg" alt="Tolya" /></span>
							<span class="image tile"><img src="{{ site.url }}/images/team/Xiaobao.jpg" alt="Xiaobao" /></span>
							<span class="image tile"><img src="{{ site.url }}/images/team/Zoey.jpg" alt="Zoey" /></span>
							  </div>
						  </section>
						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<h2>案例呈现</h2>
						</header>
						<div class="content">
					<!-- Section -->
						<section>
							<header>
								<h3>简要概述</h3>
									<p>看看一些之前完成的案例，让我们的工作成果自己说话</p>
							</header>
							<div class="content">
								<p><strong>想了解我们的服务详情？</strong>欢迎您联系我们</p>
									<form method="post" action="https://formspree.io/mayplbre">
											<div class="fields">
												<div class="field half">
													<input type="text" name="name" id="name" value="" placeholder="姓名" />
												</div>
												<div class="field half">
													<input type="text" name="_replyto" id="email" value="" placeholder="邮箱地址" />
												</div>
												<div class="field">
													<select name="category" id="category">
														<option value="">- 选择服务类别 -</option>
														<option value="Identity">品牌形象和标识</option>
														<option value="Video">视频制作</option>
														<option value="Communiy">客服和社区管理</option>
													</select>
												</div>
											</div>
											<ul class="actions">
												<li><input type="submit" value="提交" class="primary" /></li>
											</ul>
										</form>
							</div>
							</section>
						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<div class="gallery">
								<span class="featured"><img src="{{ site.url }}/images/gallery/fulls/kranio-side.png" alt="Kranio" /></span>
							</div>
						</header>
						<div class="content">
							<div class="gallery">
								<span class="landscape"><img src="{{ site.url }}/images/gallery/thumbs/kranio-hero.jpg" alt="Kranio lifestyle" /></span>
								<span><img src="{{ site.url }}/images/gallery/thumbs/kranio-logo.jpg" alt="Kranio logo" /></span>
								<span><img src="{{ site.url }}/images/gallery/thumbs/kranio-staff.jpg" alt="Kranio Kickstarter staff pick" /></span>
								<span class="landscape"><img src="{{ site.url }}/images/gallery/thumbs/kranio-unbox.jpg" alt="Kranio on Unbox Therapy" /></span>
							</div>
						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<div class="gallery">
								<span class="featured"><img src="{{ site.url }}/images/gallery/thumbs/innway-products.png" alt="Innway" /></span>
							</div>
						</header>
						<div class="content">
							<div class="gallery">
								<span class="landscape"><img src="{{ site.url }}/images/gallery/thumbs/innway-find.gif" alt="" /></span>
								<span><img src="{{ site.url }}/images/gallery/thumbs/innway-accent.jpg" alt="Find what you want with Innway" /></span>
								<span><img src="{{ site.url }}/images/gallery/thumbs/innway-tag.jpg" alt="Innway Tag lifestyle" /></span>
								<span class="landscape"><img src="{{ site.url }}/images/gallery/thumbs/innway-logo.jpg" alt="Innway logo" /></span>
							</div>
						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<div class="gallery">
								<span class="featured"><img src="{{ site.url }}/images/gallery/thumbs/thinkdiag.png" alt="" /></span>
							</div>
						</header>
						<div class="content">
							<div class="gallery">
								<span class="landscape"><img src="{{ site.url }}/images/gallery/thumbs/thinkdiag-lifestyle.jpg" alt="" /></span>
								<span><img src="{{ site.url }}/images/gallery/thumbs/thinkdiag-graphic.jpg" alt="THINKDIAG Kickstarter graphic" /></span>
								<span><img src="{{ site.url }}/images/gallery/thumbs/thinkdiag-social.jpg" alt="THINKDIAG social media" /></span>
								<span class="landscape"><img src="{{ site.url }}/images/gallery/thumbs/thinkdiag-usage.jpg" alt="THINKDIAG lifestyle" /></span>
							</div>
						</div>
					</section>
					
				<!-- Section -->
					<section>
						<header>
							<h2>品牌成长</h2>
						</header>
						<div class="content">
							<!-- Section -->
								<section>
									<header>
										<h3>增加您品牌在国际舞台上的实力</h3>
									</header>
									<div class="content">
										<p>我们能全方位助力您的品牌，以下是我们的三大服务范围</p>
										<img src="images/cheeseflow-look.svg" class="cheese-icon" alt="品牌形象" />
										<h3>品牌形象</h3>
										<img src="images/cheeseflow-personality.svg" class="cheese-icon" alt="品牌个性" />
										<h3>品牌个性</h3>
										<img src="images/cheeseflow-influence.svg" class="cheese-icon" alt="品牌影响" />
										<h3>品牌影响</h3>
								</div>
							</section>
						</div>
					</section>
					
    {%- include footer-zh.html -%}

				</div>
    </main>

	</body>
</html>